@import "./variables";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $cream;
}
.container {
  max-width: 600px;
  padding: 0 10px;
  // margin: 0 auto;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.content {
  &-row {
    display: flex;

    &__columns {
      flex: 0 1 50%;
      &-img {
        min-height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        @media (max-width: 580px) {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 10px;
          width: 100%;
          padding: 120px 0;
        }
      }
      &-topic {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        color: $title;
        font-size: 14px;
        letter-spacing: 5px;
      }
      &-title {
        font-family: "Fraunces", serif;
        font-size: 32px;
        color: $darkBlue;
        line-height: 32px;
        font-weight: 800;
        margin: 20px 0;
        @media (max-width: 580px) {
          margin: 15px 0;
        }
      }
      &-text {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: $title;
        line-height: 23px;
      }
      &-price {
        display: flex;
        align-items: center;
        margin: 25px 0;

        @media (max-width: 580px) {
          margin: 15px 0;
        }
      }
      &-now {
        font-size: 32px;
        color: $green;
        font-family: "Fraunces", serif;
      }
      &-old {
        position: relative;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        color: $title;
        margin: 0 0 0 20px;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $title;
          left: 0;
          top: 50%;
        }
      }
      &-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        border: none;
        outline: none;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: $green;
        color: $white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        img {
          padding: 0 10px 0 0;
          max-width: 100%;
        }

        &:hover {
          background-color: #1a4031;
        }
      }
    }

    @media (max-width: 580px) {
      display: block;
    }
  }
  @media (max-width: 580px) {
    margin: 30px 0;
  }
}
.columns_info {
  padding: 33px;
  background-color: $white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  @media (max-width: 580px) {
    padding: 25px;
  }
}
