*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

.container {
  max-width: 600px;
  padding: 0 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content-row {
  display: flex;
}
.content-row__columns {
  flex: 0 1 50%;
}
.content-row__columns-img {
  min-height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content-row__columns-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media (max-width: 580px) {
  .content-row__columns-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 120px 0;
  }
}
.content-row__columns-topic {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  letter-spacing: 5px;
}
.content-row__columns-title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
  line-height: 32px;
  font-weight: 800;
  margin: 20px 0;
}
@media (max-width: 580px) {
  .content-row__columns-title {
    margin: 15px 0;
  }
}
.content-row__columns-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 23px;
}
.content-row__columns-price {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
@media (max-width: 580px) {
  .content-row__columns-price {
    margin: 15px 0;
  }
}
.content-row__columns-now {
  font-size: 32px;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
}
.content-row__columns-old {
  position: relative;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: hsl(228, 12%, 48%);
  margin: 0 0 0 20px;
}
.content-row__columns-old::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsl(228, 12%, 48%);
  left: 0;
  top: 50%;
}
.content-row__columns-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
.content-row__columns-btn img {
  padding: 0 10px 0 0;
  max-width: 100%;
}
.content-row__columns-btn:hover {
  background-color: #1a4031;
}
@media (max-width: 580px) {
  .content-row {
    display: block;
  }
}
@media (max-width: 580px) {
  .content {
    margin: 30px 0;
  }
}

.columns_info {
  padding: 33px;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 580px) {
  .columns_info {
    padding: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
